# Python bytecode
__pycache__/
*.py[cod]

# Virtual environment
env/
.env/
venv/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# PyCharm
.idea/

# VS Code
.vscode/

# Package dependencies
*.egg-info/
*.egg
dist/
build/

# Log files
*.log

# Operating System files
.DS_Store
Thumbs.db

# Large files
*.dll
*.pyd
*.lib
*.so
*.zip
*.tar.gz
*.tar.bz2
